<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>City Explorer</title>
  <script src="/static/script.js" defer></script>
</head>
<body>

<h1>City Explorer</h1>

<label>Name</label><br>
<input id="name"><br><br>

<label>Email</label><br>
<input id="email"><br><br>

<label>City</label><br>
<select id="city">
  <option value="1">Manchester</option>
  <option value="2">London</option>
</select><br><br>

<button onclick="startGame()">Start Game</button>

<hr>

<div id="game"></div>

</body>
</html>